{#Page index#}
{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

    {% block body %}
        <div id="root"></div>

        <script type="text/javascript" src="{{ asset('/build/app.js') }}"></script>
    {% endblock %}

{% block javascripts %}

{% endblock %}